@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background: linear-gradient(to left, #8457ec, #3ca4ec);
}

/*Form Component*/

.main-div {
  @apply flex h-auto flex-col items-center justify-center md:p-2;
}
.form-container {
  @apply flex items-center justify-end p-2 text-right text-xs;
}
.signin-button {
  @apply flex items-center rounded-full border border-gray-light p-2 px-4 text-center text-xs font-bold  text-gray-darker shadow-sm hover:border-gray-dark hover:text-gray-dark;
}
.form {
  @apply mx-auto w-full max-w-[400px] bg-white p-4 sm:p-2 sm:text-left;
}
.signin-text {
  @apply mr-1 py-2 text-sm text-gray-dark;
}
.heading1 {
  @apply text-2xl font-bold sm:text-lg md:text-xl lg:text-2xl xl:text-3xl;
}
.heading2 {
  @apply mr-2 py-2 text-sm text-gray-dark;
}
.input-style {
  @apply rounded-md border border-gray-light p-2 text-xs text-custom-purple outline-none focus:border-custom-purple;
}
.error-style {
  @apply my-1 text-xs italic text-custom-red;
}
.label-style {
  @apply my-2 text-left text-sm;
}
.login-button {
  @apply my-4 rounded-full bg-custom-purple px-12 py-2 text-sm  text-white shadow-sm shadow-gray-light hover:bg-dark-purple  sm:mx-auto sm:inline-block;
}

/*SuccessMessage Component */

.main-container {
  @apply rounded-md p-4;
}
.success-heading {
  @apply mb-2 text-lg font-bold;
}
.heading3 {
  @apply py-2 text-base text-gray-dark;
}
.heading-icon {
  @apply flex items-center text-gray-dark;
}
.detail-icon {
  @apply mr-1 text-2xl;
}
.span {
  @apply font-bold text-custom-purple;
}

/*SocialMediaLogin Component*/

.social-media-container {
  @apply flex flex-col  items-center sm:flex-row;
}
.social-media-icon-container {
  @apply mt-4 flex items-center sm:mt-0;
}
.socialmedia-icon {
  @apply m-1 rounded-full border border-gray-light p-2 text-4xl text-[#316FF6] hover:scale-105 hover:transform;
}
